.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 40%;
    margin: 0 auto 0.75rem;

    border-top: 1px solid var(--gray-400);
    border-radius: 8px;
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;

    width: 100%;
    padding: 1.25rem;
    border-radius: 8px;

    font-size: 0.875rem;

    background-color: var(--gray-500);
    color: var(--gray-100);

}

.card input[type="checkbox"] {
    border: 1px solid #ccc;
    border-radius: 50%;
    height: 1.25rem;
    width: 1.25rem;
    cursor: pointer;

    background-color: var(--gray-500);
}

.card svg {
    cursor: pointer;
}

.card button {
    background: transparent;
    border: 0;
    line-height: 0;
    border-radius: 4px;
    padding: 0.125rem;
    cursor: pointer;
    color: var(--gray-100);
}

.card button:hover {
    background: initial;
    background-color: var(--gray-400);
    color: var(--danger-100);
}

.card s {
    color: var(--gray-300);
}

@media (max-width: 768px) {
    .container {
        width: 70%;
    }
}